<div class="col-md-6 col-md-offset-3">
  <h2>Registro de usuario</h2>
  <form name="form" (ngSubmit)="crearUsuario(NuevoUsuarioForm)" #NuevoUsuarioForm="ngForm">
    <div class="form-group">
      <label for="nombreUsuario">Nombre</label>
      <input id="nombreUsuario" type="text"
             minlength="4"
             class="form-control" name="nombreUsuario"
             [(ngModel)]="nuevoUsuario.nombreUsuario" #nombreUsuario="ngModel"
             required
             #nombreyUsuarioElm>

            <label for="apellidoUsuario">Apellido</label>
            <input id="apellidoUsuario" type="text"
                   class="form-control" name="apellidoUsuario" [(ngModel)]="nuevoUsuario.apellidoUsuario" #apellidoUsuario="ngModel" required>

            <label for="cedulaUsuario">Cédula</label>
            <input id="cedulaUsuario" type="number" class="form-control" name="cedulaUsuario" [(ngModel)]="nuevoUsuario.cedulaUsuario" #cedulaUsuario="ngModel" required>

            <label for="contrasenaUsuario">Contraseña</label>
            <input id="contrasenaUsuario" type="password" class="form-control" name="contrasenaUsuario" [(ngModel)]="nuevoUsuario.contrasenaUsuario" #contrasenaUsuario="ngModel" required>

      <label>Tipo de usuario</label>

       <!-- <label class="radio-inline">
       <input type="radio" name="tipoUsuario" [(ngModel)]="nuevoUsuario.tipoUsuario" #tipoUsuario="ngModel" required >Ciego
      </label>-->
        <input id="tipoUsuario" type="text" class="form-control" name="tipoUsuario" [(ngModel)]="nuevoUsuario.tipoUsuario" #tipoUsuario="ngModel" required>

    </div>

    <div class="form-group">
      <button [disabled]="disabledButtons.NuevoUsuarioFormSubmitButton||!NuevoUsuarioForm.valid" class="btn btn-primary">Registrar</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
