<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-xs-1 col-sm-4"></div>
      <div class="col-xs-16 col-sm-4">
        <h1>Curso de ingles en linea</h1>
      </div>
      <div class="col-xs-1 col-sm-4"></div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-9 col-sm-6">
        <div class="jumbotron">
          <h2 class="text-center">Introduccion</h2>
          <p class="text-justify"> Este curso de ingles en linea cumple con las guias de accesibilidad recomendadas en la norma WCAG 2.1
            especificamente aquellas que hacen referencia a las barreras que limitan a usuarios con discapacidades visuales
            como ceguera. La finalidad de esta aplicacion es implementar un nivel suficiente de accesibilidad en las lecciones
            del curso en linea de tal manera que los usuarios con esta discapacidad no tengan dificultad en aprender este idioma
            como cualquier otro usuario que no presente discapacidad alguna.</p>
        </div>
      </div>
      <div class="col-xs-9 col-sm-6">
        <div class="jumbotron">
          <h2 class="text-center">Contenido</h2>
          <h3>1. Pronombres personales</h3>
          <h3>2. Colores</h3>
          <h3>3. Numeros</h3>
          <h3>4. Verbo ser/estar</h3>
          <h3>5. Informacion personal</h3>
        </div>
      </div>
    </div>
  </div>








</div>
