<form (ngSubmit)="loginUsuario(LoginUsuarioForm)" #LoginUsuarioForm="ngForm">
  <div class="form-group">
  <div class="input">
    <label for="cedula">Cédula</label>
    <input id="cedula" type="text" class="form-control" name="cedula" [(ngModel)]="usuario.cedula" #cedula="ngModel">
  </div>
  <div class="input">
    <label for="contrasena">Contraseña</label>
    <input id="contrasena" type="password" class="form-control" name="contrasena" [(ngModel)]="usuario.contrasena" #contrasena="ngModel">
  </div>
  <div class="form-group">
    <button class="btn btn-success" >Ingresar</button>
  </div>
  </div>

</form>
